In [ ]:
# @title 🛠️ Install [camelot](https://github.com/camelot-dev/camelot)
!pip install camelot-py
# install tabulate (optional) only needed in this notebook for pretty display of results.
!pip install tabulate

Collecting camelot-py
  Downloading camelot_py-1.0.0-py3-none-any.whl.metadata (9.4 kB)
Requirement already satisfied: click>=8.0.1 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (8.1.8)
Requirement already satisfied: chardet>=5.1.0 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (5.2.0)
Requirement already satisfied: numpy>=1.24.4 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (2.0.2)
Requirement already satisfied: openpyxl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (3.1.5)
Collecting pdfminer-six>=20240706 (from camelot-py)
  Downloading pdfminer.six-20240706-py3-none-any.whl.metadata (4.1 kB)
Collecting pypdf<4.0,>=3.17 (from camelot-py)
  Downloading pypdf-3.17.4-py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: pandas>=2.2.2 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (2.2.2)
Requirement already satisfied: tabulate>=0.9.0 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (0.9.0)
Requirement already satisfied: opencv-python-headless>=4.7.0.68 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (4.11.0.86)
Collecting pypdfium2>=4 (from camelot-py)
  Downloading pypdfium2-4.30.1-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (48 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.2/48.2 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl>=3.1.0->camelot-py) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.2.2->camelot-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.2.2->camelot-py) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.2.2->camelot-py) (2025.1)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from pdfminer-six>=20240706->camelot-py) (3.4.1)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.11/dist-packages (from pdfminer-six>=20240706->camelot-py) (43.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.11/dist-packages (from cryptography>=36.0.0->pdfminer-six>=20240706->camelot-py) (1.17.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=2.2.2->camelot-py) (1.17.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.11/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer-six>=20240706->camelot-py) (2.22)
Downloading camelot_py-1.0.0-py3-none-any.whl (66 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.6/66.6 kB 4.4 MB/s eta 0:00:00
Downloading pdfminer.six-20240706-py3-none-any.whl (5.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 87.5 MB/s eta 0:00:00
Downloading pypdf-3.17.4-py3-none-any.whl (278 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 278.2/278.2 kB 20.2 MB/s eta 0:00:00
Downloading pypdfium2-4.30.1-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 79.6 MB/s eta 0:00:00
Installing collected packages: pypdfium2, pypdf, pdfminer-six, camelot-py
Successfully installed camelot-py-1.0.0 pdfminer-six-20240706 pypdf-3.17.4 pypdfium2-4.30.1
Requirement already satisfied: tabulate in /usr/local/lib/python3.11/dist-packages (0.9.0)

In [ ]:
import requests
import camelot

# URL do PDF
pdf_url = 'https://www.gov.br/gestao/pt-br/concursonacional/resultados/arquivos/28-de-fevereiro/blocos-1-a-7/bloco-5-5014.pdf'

# Baixar o PDF da URL
response = requests.get(pdf_url)

# Salvar o arquivo PDF localmente
pdf_path = '/content/temp.pdf'
with open(pdf_path, 'wb') as f:
    f.write(response.content)

In [ ]:
# Ler as tabelas das 10 primeiras páginas
tables = camelot.read_pdf(pdf_path, pages='1-20')

# Verifique quantas tabelas foram extraídas
print(f'Tabelas extraídas: {len(tables)}')

# Visualize a primeira tabela extraída
print(tables[0].df)  # Exibe a primeira tabela como um DataFrame

Tabelas extraídas: 20
                       0                      1                   2   \
0               RESULTADO
1   NÚMERO DE \nINSCRIÇÃO  PRIORIDADE \nNO CARGO  CLASSIFICAÇÃO \nAC
2              2413702002                      2                   1
3              2415344430                      2                   2
4              2415599071                      2                   3
5              2405469000                      2                   4
6              2412647733                      2                   5
7              2404432014                      2                   6
8              2419572810                      1                   7
9              2416054613                      2                   8
10             2420496862                      2                   9
11             2407923426                      2                  10
12             2404254833                      1                  11
13             2401750384                      2                  12
14             2421141634                      2                  13
15             2400338633                      2                  14
16             2418970650                      2                  15
17             2419803552                      2                  16
18             2401135299                      2                  17
19             2406389787                      2                  18
20             2401345773                      2                  19
21             2402795195                      2                  20
22             2405267173                      1                  21
23             2405264360                      2                  22
24             2407669031                      2                  23
25             2402855341                      2                  24
26             2400416642                      2                  25
27             2404970482                      1                  26
28             2410287977                      1                  27
29             2400338390                      2                  28

                     3                      4                         5   \
0
1   CLASSIFICAÇÃO \nPCD  CLASSIFICAÇÃO \nNEGRA  CLASSIFICAÇÃO \nINDÍGENA
2
3                                            1
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27                                           2
28
29

                                                   6                       7   \
0                                                      CRITÉRIOS DE DESEMPATE
1                                   SITUAÇÃO NO CARGO      NOTA FINAL \n(NFP)
2   Convocado para o curso de formação pelo subite...                   93,00
3   Convocado para o curso de formação pelo subite...                   92,00
4   Convocado para o curso de formação pelo subite...                   91,50
5   Convocado para o curso de formação pelo subite...                   91,50
6   Convocado para o curso de formação pelo subite...                   91,50
7   Convocado para o curso de formação pelo subite...                   90,50
8   Convocado para o curso de formação pelo subite...                   90,50
9   Convocado para o curso de formação pelo subite...                   90,50
10  Convocado para o curso de formação pelo subite...                   90,50
11  Convocado para o curso de formação pelo subite...                   90,00
12  Convocado para o curso de formação pelo subite...                   90,00
13  Convocado para o curso de formação pelo subite...                   90,00
14  Convocado para o curso de formação pelo subite...                   90,00
15  Convocado para o curso de formação pelo subite...                   90,00
16  Convocado para o curso de formação pelo subite...                   90,00
17  Convocado para o curso de formação pelo subite...                   89,50
18  Convocado para o curso de formação pelo subite...                   89,50
19  Convocado para o curso de formação pelo subite...                   89,50
20  Convocado para o curso de formação pelo subite...                   89,00
21  Convocado para o curso de formação pelo subite...                   89,00
22  Convocado para o curso de formação pelo subite...                   89,00
23  Convocado para o curso de formação pelo subite...                   89,00
24  Convocado para o curso de formação pelo subite...                   89,00
25  Convocado para o curso de formação pelo subite...                   89,00
26  Convocado para o curso de formação pelo subite...                   89,00
27  Convocado para o curso de formação pelo subite...                   89,00
28  Convocado para o curso de formação pelo subite...                   89,00
29  Convocado para o curso de formação pelo subite...                   88,50

                      8           9              10        11       12  \
0
1   DATA DE \nNASCIMENTO  DISCURSIVA  C.ESPECÍFICOS  C.GERAIS  TÍTULOS
2             06/11/1972       19,00          47,00     17,00    10,00
3             26/11/1981       19,00          45,00     18,00    10,00
4             13/03/1986       19,00          45,00     18,00     9,50
5             23/09/1981       19,00          44,50     18,00    10,00
6             01/06/1988       19,00          44,50     18,00    10,00
7             17/12/1993       20,00          45,00     18,00     7,50
8             16/11/1976       19,00          44,00     19,00     8,50
9             28/10/1989       19,00          42,50     19,00    10,00
10            22/05/1976       17,00          46,50     17,00    10,00
11            08/12/1985       20,00          44,00     16,00    10,00
12            18/10/1972       19,00          45,00     16,00    10,00
13            22/01/1986       19,00          45,00     16,00    10,00
14            15/04/1983       19,00          43,00     18,00    10,00
15            15/09/1984       18,00          43,50     19,00     9,50
16            10/06/1981       17,00          46,00     17,00    10,00
17            26/02/1983       19,00          42,50     18,00    10,00
18            08/02/1982       18,00          43,50     18,00    10,00
19            11/09/1979       17,00          46,50     16,00    10,00
20            09/03/1986       19,00          46,50     17,00     6,50
21            27/04/1987       19,00          45,00     15,00    10,00
22            23/06/1989       19,00          44,50     18,00     7,50
23            22/10/1977       19,00          44,00     16,00    10,00
24            11/03/1986       19,00          43,00     17,00    10,00
25            28/03/1988       19,00          42,50     18,00     9,50
26            04/11/1982       19,00          42,00     18,00    10,00
27            18/09/1989       19,00          42,00     18,00    10,00
28            01/08/1990       18,00          46,00     15,00    10,00
29            19/06/1984       20,00          40,50     18,00    10,00

        13           14
0
1   JURADO  S.ELEITORAL
2
3
4
5
6
7
8
9
10
11     Sim
12
13
14
15
16
17
18                  Sim
19
20
21
22                  Sim
23
24
25
26
27
28
29

In [ ]:
import pandas as pd

# Transformar cada tabela extraída em um DataFrame
dataframes = [table.df for table in tables]

# Exemplo: exibir o primeiro DataFrame
print(dataframes[0])

# Caso queira combinar todas as tabelas em um único DataFrame
combined_df = pd.concat(dataframes, ignore_index=True)

# Exibir o DataFrame combinado
print(combined_df)

combined_df.to_csv('/content/tabelas_extraidas.csv', index=False)

                       0                      1                   2   \
0               RESULTADO
1   NÚMERO DE \nINSCRIÇÃO  PRIORIDADE \nNO CARGO  CLASSIFICAÇÃO \nAC
2              2413702002                      2                   1
3              2415344430                      2                   2
4              2415599071                      2                   3
5              2405469000                      2                   4
6              2412647733                      2                   5
7              2404432014                      2                   6
8              2419572810                      1                   7
9              2416054613                      2                   8
10             2420496862                      2                   9
11             2407923426                      2                  10
12             2404254833                      1                  11
13             2401750384                      2                  12
14             2421141634                      2                  13
15             2400338633                      2                  14
16             2418970650                      2                  15
17             2419803552                      2                  16
18             2401135299                      2                  17
19             2406389787                      2                  18
20             2401345773                      2                  19
21             2402795195                      2                  20
22             2405267173                      1                  21
23             2405264360                      2                  22
24             2407669031                      2                  23
25             2402855341                      2                  24
26             2400416642                      2                  25
27             2404970482                      1                  26
28             2410287977                      1                  27
29             2400338390                      2                  28

                     3                      4                         5   \
0
1   CLASSIFICAÇÃO \nPCD  CLASSIFICAÇÃO \nNEGRA  CLASSIFICAÇÃO \nINDÍGENA
2
3                                            1
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27                                           2
28
29

                                                   6                       7   \
0                                                      CRITÉRIOS DE DESEMPATE
1                                   SITUAÇÃO NO CARGO      NOTA FINAL \n(NFP)
2   Convocado para o curso de formação pelo subite...                   93,00
3   Convocado para o curso de formação pelo subite...                   92,00
4   Convocado para o curso de formação pelo subite...                   91,50
5   Convocado para o curso de formação pelo subite...                   91,50
6   Convocado para o curso de formação pelo subite...                   91,50
7   Convocado para o curso de formação pelo subite...                   90,50
8   Convocado para o curso de formação pelo subite...                   90,50
9   Convocado para o curso de formação pelo subite...                   90,50
10  Convocado para o curso de formação pelo subite...                   90,50
11  Convocado para o curso de formação pelo subite...                   90,00
12  Convocado para o curso de formação pelo subite...                   90,00
13  Convocado para o curso de formação pelo subite...                   90,00
14  Convocado para o curso de formação pelo subite...                   90,00
15  Convocado para o curso de formação pelo subite...                   90,00
16  Convocado para o curso de formação pelo subite...                   90,00
17  Convocado para o curso de formação pelo subite...                   89,50
18  Convocado para o curso de formação pelo subite...                   89,50
19  Convocado para o curso de formação pelo subite...                   89,50
20  Convocado para o curso de formação pelo subite...                   89,00
21  Convocado para o curso de formação pelo subite...                   89,00
22  Convocado para o curso de formação pelo subite...                   89,00
23  Convocado para o curso de formação pelo subite...                   89,00
24  Convocado para o curso de formação pelo subite...                   89,00
25  Convocado para o curso de formação pelo subite...                   89,00
26  Convocado para o curso de formação pelo subite...                   89,00
27  Convocado para o curso de formação pelo subite...                   89,00
28  Convocado para o curso de formação pelo subite...                   89,00
29  Convocado para o curso de formação pelo subite...                   88,50

                      8           9              10        11       12  \
0
1   DATA DE \nNASCIMENTO  DISCURSIVA  C.ESPECÍFICOS  C.GERAIS  TÍTULOS
2             06/11/1972       19,00          47,00     17,00    10,00
3             26/11/1981       19,00          45,00     18,00    10,00
4             13/03/1986       19,00          45,00     18,00     9,50
5             23/09/1981       19,00          44,50     18,00    10,00
6             01/06/1988       19,00          44,50     18,00    10,00
7             17/12/1993       20,00          45,00     18,00     7,50
8             16/11/1976       19,00          44,00     19,00     8,50
9             28/10/1989       19,00          42,50     19,00    10,00
10            22/05/1976       17,00          46,50     17,00    10,00
11            08/12/1985       20,00          44,00     16,00    10,00
12            18/10/1972       19,00          45,00     16,00    10,00
13            22/01/1986       19,00          45,00     16,00    10,00
14            15/04/1983       19,00          43,00     18,00    10,00
15            15/09/1984       18,00          43,50     19,00     9,50
16            10/06/1981       17,00          46,00     17,00    10,00
17            26/02/1983       19,00          42,50     18,00    10,00
18            08/02/1982       18,00          43,50     18,00    10,00
19            11/09/1979       17,00          46,50     16,00    10,00
20            09/03/1986       19,00          46,50     17,00     6,50
21            27/04/1987       19,00          45,00     15,00    10,00
22            23/06/1989       19,00          44,50     18,00     7,50
23            22/10/1977       19,00          44,00     16,00    10,00
24            11/03/1986       19,00          43,00     17,00    10,00
25            28/03/1988       19,00          42,50     18,00     9,50
26            04/11/1982       19,00          42,00     18,00    10,00
27            18/09/1989       19,00          42,00     18,00    10,00
28            01/08/1990       18,00          46,00     15,00    10,00
29            19/06/1984       20,00          40,50     18,00    10,00

        13           14
0
1   JURADO  S.ELEITORAL
2
3
4
5
6
7
8
9
10
11     Sim
12
13
14
15
16
17
18                  Sim
19
20
21
22                  Sim
23
24
25
26
27
28
29
                        0                      1                   2   \
0                RESULTADO
1    NÚMERO DE \nINSCRIÇÃO  PRIORIDADE \nNO CARGO  CLASSIFICAÇÃO \nAC
2               2413702002                      2                   1
3               2415344430                      2                   2
4               2415599071                      2                   3
..                     ...                    ...                 ...
595             2416434718                      2                 410
596             2407353557                      1                 411
597             2404749859                      2                 412
598             2406987145                      2                 413
599             2421262083                      2                 414

                      3                      4                         5   \
0
1    CLASSIFICAÇÃO \nPCD  CLASSIFICAÇÃO \nNEGRA  CLASSIFICAÇÃO \nINDÍGENA
2
3                                             1
4
..                   ...                    ...                       ...
595
596
597
598
599

                                                    6   \
0
1                                    SITUAÇÃO NO CARGO
2    Convocado para o curso de formação pelo subite...
3    Convocado para o curso de formação pelo subite...
4    Convocado para o curso de formação pelo subite...
..                                                 ...
595  Aprovado em lista de espera pelo subitem 10.2....
596  Aprovado em lista de espera pelo subitem 10.2....
597  Aprovado em lista de espera pelo subitem 10.2....
598  Aprovado em lista de espera pelo subitem 10.2....
599  Aprovado em lista de espera pelo subitem 10.2....

                         7                     8           9              10  \
0    CRITÉRIOS DE DESEMPATE
1        NOTA FINAL \n(NFP)  DATA DE \nNASCIMENTO  DISCURSIVA  C.ESPECÍFICOS
2                     93,00            06/11/1972       19,00          47,00
3                     92,00            26/11/1981       19,00          45,00
4                     91,50            13/03/1986       19,00          45,00
..                      ...                   ...         ...            ...
595                   82,00            18/04/1995       19,00          45,00
596                   82,00            24/08/1998       19,00          45,00
597                   82,00            28/08/1998       19,00          45,00
598                   82,00            13/12/1995       19,00          44,50
599                   82,00            17/09/1992       19,00          44,00

           11       12      13           14
0
1    C.GERAIS  TÍTULOS  JURADO  S.ELEITORAL
2       17,00    10,00
3       18,00    10,00
4       18,00     9,50
..        ...      ...     ...          ...
595     18,00     0,00
596     18,00     0,00
597     17,00     1,00
598     17,00     1,50
599     18,00     1,00                  Sim

[600 rows x 15 columns]

Lista de nomes dos aprovados convertendo:

In [ ]:
data_1 = """
ABELARDO PEREIRA PALMA NETO; 2420168954; 83,00; 330 ; - ; - ; - /ABRAHAO ALEXANDRE BARROS DE LIMA; 2407932018; 86,00; 116 ; - ; - ; - /ADDA LUISA DE MELO SOUSA; 2409386908; 83,00; 296 ; - ; - ; - /ADRIANA RAQUEL FERREIRA COSTA OLIVEIRA; 2417034349; 84,00; 243 ; - ; 24 ; - /ADRIANA SOUZA DE OLIVEIRA BARRETO; 2409122978; 83,00; 333 ; - ; - ; - /ADRIANO DA SILVA COSTA; 2421324860; 87,50; 55 ; - ; - ; - /ADRIANO DE SA GODOI; 2417646220; 87,50; 50 ; - ; - ; - /AFONSO TIAGO NUNES DE SOUSA; 2419509778; 87,00; 66 ; - ; - ; - /ALEKSEI SANTANA TURENKO; 2414816532; 85,50; 142 ; - ; - ; - /ALESSANDRA GASPAR SOUSA; 2402269060; 83,50; 286 ; - ; - ; - /ALEX DOUGLAS MEAUX DIAS RODRIGUES; 2407528586; 83,50; 289 ; - ; - ; - /ALEXANDRE NOGUEIRA GEFRI JUNIOR; 2415552920; 83,50; 253 ; - ; - ; - /ALICE PULLIERO VIEIRA MARTINS PONTES; 2415718011; 83,50; 257 ; - ; - ; - /ALINE DE CASTRO LIMA GOMES; 2421216154; 87,00; 67 ; - ; - ; - /ALINE DE PAULA MARQUES; 2408108394; 87,00; 63 ; - ; - ; - /ALINE ROMAN SAVI; 2400071319; 83,50; 278 ; - ; - ; - /ALISON ROSA LOUREIRO; 2410918179; 85,00; 174 ; - ; - ; - /ALISSON ASSUNCAO SILVA; 2400338633; 90,00; 14 ; - ; - ; - /ALLAN ARUIL DE SOUSA; 2404442788; 86,50; 83 ; - ; - ; - /AMANDA CAMYLLA PEREIRA SILVA; 2404422191; 84,00; 248 ; - ; - ; - /AMANDA FERREIRA GOUVEIA; 2406892977; 88,00; 40 ; 1 ; - ; - /AMANDA OLIVEIRA DOS REIS; 2404486831; 83,50; 273 ; - ; - ; - /ANA CAROLINA ALEIXO LIMA; 2412405268; 84,00; 234 ; - ; - ; - /ANA CLARA MATIAS BRASILEIRO; 2409397438; 85,50; 148 ; - ; - ; - /ANA CLAUDIA BESERRA MACEDO; 2419036080; 85,50; 131 ; - ; - ; - /ANA CLECIA MESQUITA DE LIMA; 2415177967; 83,00; 329 ; - ; - ; - /ANA CRISTINA CARDOZO DA SILVA; 2418548079; 84,50; 208 ; - ; - ; - /ANA DE ARAUJO CARRARI; 2402141659; 84,00; 239 ; - ; - ; - /ANA FLAVIA JOERGENSEN; 2410440457; 85,50; 156 ; - ; - ; - /ANA IZAURA PINA RODRIGUES; 2415943260; 87,00; 65 ; - ; - ; - /ANA PAULA PASSOS DE MELO OLIVEIRA; 2402640191; 85,50; 159 ; - ; - ; - /ANA TULIA DE MACEDO; 2415141547; 83,50; 276 ; - ; 28 ; - /ANA VASCONCELOS OTTONI; 2410295570; 85,50; 136 ; - ; - ; - /ANDERSON CHAGAS DA SILVA; 2400574221; 84,50; 203 ; - ; - ; - /ANDRE LUIS DE OLIVEIRA; 2406346476; 84,50; 205 ; - ; - ; - /ANDRE LUIS QUARESMA DE CARVALHO; 2420101132; 85,00; 167 ; - ; - ; - /ANDRE SPINDOLA FONTENELE ALVES; 2418696094; 86,50; 84 ; - ; - ; - /ANDRE VIEIRA FREITAS; 2421287370; 83,00; 320 ; - ; - ; - /ANDREA MESQUITA DE MENEZES; 2417551270; 83,00; 305 ; - ; - ; - /ANDREIA PEREIRA DA SILVA OLIVEIRA; 2418580177; 86,00; 115 ; - ; - ; - /ANDRESSA REGINA BISSOLOTTI DOS SANTOS; 2409353554; 83,50; 280 ; - ; - ; - /ANDREZA TONASSO GALLI; 2415599071; 91,50; 3 ; - ; - ; - /ANNA CAROLINA MACHADO MACIEL DA SILVA; 2413277816; 86,50; 82 ; - ; - ; - /ARIANA SOUZA LOBO; 2403988485; 83,50; 269 ; - ; - ; - /ARIELLE GONCALVES VIEIRA; 2402559289; 88,00; 41 ; - ; - ; - /ARTHUR BARCELLOS BERND; 2401993287; 87,50; 57 ; - ; - ; - /ARTHUR POMNITZ DE GOUVEA; 2404493714; 86,50; 85 ; - ; - ; - /AYLA CHRISTINA ALVES DOS SANTOS; 2412262980; 86,00; 101 ; - ; - ; - /BARBARA DESLANDES PRIMO; 2406936605; 87,50; 49 ; - ; - ; - /BARBARA GOMES ALPINO RODRIGUES; 2403335775; 88,50; 37 ; - ; - ; - /BARBARA GOMIDE FREITAS; 2411039322; 84,00; 251 ; - ; - ; - /BEATRIZ SIMAS TELES ROMANO; 2412653628; 84,00; 218 ; - ; - ; - /BIANCA DA ROCHA FROTA; 2411489611; 86,00; 123 ; - ; 11 ; - /BIANCA MONTEIRO DA SILVA; 2406647050; 84,00; 240 ; 6 ; - ; - /BRENDA FERREIRA DE ABREU; 2403442520; 87,00; 73 ; - ; - ; - /BRENO TEIXEIRA MAGALHAES; 2412171593; 83,00; 317 ; - ; - ; - /BRUNA ARAUJO LUCHINE; 2406319762; 83,50; 271 ; - ; - ; - /BRUNA HOISLER SALLET; 2401890488; 83,50; 256 ; - ; - ; - /BRUNA KAROAUK MOTTA; 2405818560; 86,50; 94 ; - ; - ; - /BRUNA NASCIMENTO MIRANDA; 2412821687; 86,50; 97 ; - ; - ; - /BRUNO DA SILVA OLIVEIRA; 2402474917; 86,50; 92 ; - ; - ; - /BRUNO NERIS BASTO; 2413134489; 87,00; 62 ; - ; - ; - /BRUNO THEBALDI DE SOUZA; 2412367722; 88,50; 38 ; - ; - ; - /CAETANO MADER GISI; 2400856227; 85,50; 135 ; - ; - ; - /CAINARA LINS DRAEGER; 2412346857; 83,50; 277 ; - ; - ; - /CAMILA BYLAARDT VOLKER; 2407714479; 85,00; 175 ; - ; - ; - /CAMILA CAVALCANTE DOS SANTOS; 2407419353; 85,50; 153 ; - ; - ; - /CAMILA DIAS CAVALCANTI; 2421247726; 84,00; 238 ; - ; - ; - /CAMILA FLAVIA LINS LIVINO DE CARVALHO; 2402604594; 87,00; 76 ; - ; - ; - /CARLA LEANDRO MENEZES FAGUNDES; 2406419937; 85,00; 179 ; - ; - ; - /CARLOS RODRIGO COSTA; 2419572810; 90,50; 7 ; - ; - ; - /CAROLINA ANDREA NODARI; 2400626116; 83,00; 342 ; - ; - ; - /CECILIA FONSECA POGGIAN; 2406996110; 84,50; 185 ; - ; - ; - /CECILIA REIGADA PIVA; 2415588444; 88,00; 46 ; - ; - ; - /CIDALIA LUNA ALENCAR FEITOSA DE OLIVEI; 2419679436; 88,00; 47 ; - ; - ; - /CINTIA APARECIDA ATAIDE; 2403763319; 83,50; 260 ; - ; - ; - /CLARISSE MOREIRA ALO; 2418856954; 84,00; 249 ; - ; - ; - /CLAUDIA CAROLINE SILVA DE AVILA; 2408581952; 86,50; 96 ; - ; - ; - /CRISTIAN DE OLIVEIRA GAMBA; 2406717431; 83,00; 295 ; - ; - ; - /DALILA FERNANDES DE NEGREIROS; 2401476517; 86,50; 93 ; - ; 9 ; - /DANIEL DIAS E SARMENTO; 2410254556; 83,50; 291 ; - ; - ; - /DANIEL GUIMARAES E SILVA; 2415043626; 83,00; 293 ; - ; - ; - /DANIELA MATEUS DE VASCONCELOS; 2404164257; 85,50; 145 ; - ; - ; - /DANIELLE DINIZ DE SOUSA; 2419754500; 84,00; 233 ; - ; - ; - /DANIELLE FERREIRA MEDEIRO DA SILVA DE; 2412517490; 84,50; 190 ; - ; 17 ; - /DANIELLE PAES JULIAO; 2410940891; 83,00; 304 ; - ; - ; - /DANILO DESTRO PADUA; 2415001400; 86,00; 120 ; - ; - ; - /DANILO PIRES FARIAS; 2419171360; 85,00; 181 ; - ; - ; - /DEBORA RIBEIRO; 2409686502; 83,00; 326 ; - ; - ; - /DEBORA SCHUCH DA CRUZ; 2400338390; 88,50; 28 ; - ; - ; - /DENIS DOS SANTOS FREITAS; 2400416642; 89,00; 25 ; - ; - ; - /DENISE TREVELLIN FORINI; 2401465590; 86,50; 87 ; - ; - ; - /DEYVESSON ISRAEL ALVES GUSMAO; 2418470886; 83,00; 343 ; - ; - ; - /DIANA DIANOVSKY; 2411450359; 86,00; 121 ; - ; - ; - /DIEGO BERNARDO DE MENDONCA; 2419098360; 83,00; 314 ; - ; - ; - /DIEGO BOLOTARE MEDEIROS; 2409948302; 87,50; 53 ; - ; - ; - /DIEGO CASTRO MAGALHAES; 2401291851; 83,00; 327 ; - ; - ; - /DILENE PINHEIRO DA SILVA; 2402840050; 83,00; 336 ; - ; 33 ; - /DIOGO BENJAMIN DE MENDONCA FILHO; 2419146136; 83,00; 340 ; - ; - ; - /EDMAR LOURENCO COELHO JUNIOR; 2412472615; 84,00; 242 ; - ; 23 ; - /EDUARDO BERGAMASCHI FELIZOLA; 2401095890; 85,50; 161 ; - ; - ; - /ELAINE GOMES DOS SANTOS; 2407163499; 85,50; 130 ; - ; 12 ; - /ELISA DE ARAUJO GALLO; 2402143414; 83,00; 303 ; - ; - ; - /ELISA GRAZIELA DE SANT ANNA RIBEIRO; 2420570078; 86,00; 112 ; - ; - ; - /ELISANGELA MUNDIM KARLINSKI; 2418970650; 90,00; 15 ; - ; - ; - /EMANUEL MESSIAS ARCAS VIEIRA; 2409075953; 83,00; 310 ; - ; - ; - /EMANUELA CRISTINA DIAS SILVA BASTOS; 2406780842; 87,50; 54 ; - ; - ; - /EMANUELLE DANTAS SARAIVA; 2421141634; 90,00; 13 ; - ; - ; - /ERIKA DE SOUZA NASCIMENTO; 2415510968; 87,50; 48 ; - ; - ; - /ERLON LUISI CARDOSO; 2402889416; 83,50; 259 ; - ; - ; - /ESTELLA LIBARDI DE SOUZA; 2420555273; 84,50; 213 ; - ; - ; - /ETHEL PROENCA BRAGA; 2402757919; 84,50; 202 ; - ; - ; - /EVANDRO MEDEIROS COSTA; 2407669031; 89,00; 23 ; - ; - ; - /EVELINE ALVES RIBEIRO; 2420124590; 85,00; 168 ; - ; - ; - /FABIANO CAMPELO BECHELANY; 2406211686; 84,00; 226 ; - ; - ; - /FABIANO THOMAZ LACOMBE; 2409612363; 84,50; 211 ; - ; - ; - /FABIO FERREIRA BERROGAIN; 2402761819; 87,50; 52 ; - ; - ; - /FABRICIO SANTOS CRUZ; 2400088750; 85,50; 152 ; - ; - ; - /FERNANDA BORGES XAVIER; 2410764554; 85,50; 143 ; - ; - ; - /FERNANDA CRISTINA DE JESUS COLARES BEN; 2421380426; 84,00; 241 ; - ; - ; - /FERNANDA DE ALBUQUERQUE PEREIRA; 2420496862; 90,50; 9 ; - ; - ; - /FERNANDA MACHADO GIVISIEZ; 2404489245; 84,00; 216 ; - ; - ; - /FERNANDA PERNASETTI DE FARIAS FIGUEIRE; 2412618547; 86,00; 108 ; - ; - ; - /FERNANDA SILVA BOTELHO; 2406654391; 83,00; 319 ; - ; - ; - /FLAVIA DA SILVA SOUZA; 2414039595; 84,00; 229 ; - ; 20 ; - /FLAVIA GONCALVES DA SILVA; 2406543980; 84,00; 215 ; - ; - ; - /FLAVIO GONCALVES; 2404122821; 86,50; 90 ; - ; - ; - /FRANCISCO VIEGAS NEVES DA SILVA; 2400557688; 83,00; 338 ; - ; - ; - /GABBRIELA LEON VASQUES DE OLIVEIRA; 2413158540; 87,00; 78 ; - ; - ; - /GABRIEL PORTILHO MOREIRA; 2411399159; 83,50; 262 ; - ; - ; - /GABRIELA DA COSTA BRAGA LUCCHESI; 2405264360; 89,00; 22 ; - ; - ; - /GABRIELLE FERNANDES CERQUEIRA; 2402717925; 87,00; 68 ; - ; - ; - /GEORGIA MARIA PULUCENO DO NASCIMENTO; 2403253698; 87,00; 60 ; - ; - ; - /GERALDO ANTONIO PEREIRA; 2418212755; 86,50; 88 ; - ; 7 ; - /GILBERTO DE SIMONE JUNIOR; 2404065445; 86,50; 91 ; - ; 8 ; - /GILMARA APOLINARIO REIS; 2403733983; 83,00; 335 ; - ; - ; - /GISELLE FERREIRA BERNARDAZZI TORRENS; 2413224119; 84,00; 228 ; - ; - ; - /GIULIA ELEONORA TADINI; 2416054613; 90,50; 8 ; - ; - ; - /GRACE KELLY MOURA DE OLIVEIRA; 2413674076; 86,00; 105 ; - ; - ; - /GRACE STRE PERES HODNIUK; 2400071572; 83,00; 315 ; - ; - ; - /GUSTAVO DE OLIVEIRA ANTONIO; 2415932382; 83,00; 297 ; - ; - ; - /GUSTAVO RIBEIRO BALDIOTI; 2410720514; 84,00; 236 ; - ; - ; - /GUTEMBERG MEDIANEIRO ALVES DE ANDRADE; 2409723688; 88,50; 29 ; - ; - ; - /HELEN ROSE LOPES DOS SANTOS; 2419803552; 89,50; 16 ; - ; - ; - /HELENICE ASSIS VESPASIANO; 2407979375; 85,50; 139 ; - ; - ; - /HELIO DE SOUZA RODRIGUES JUNIOR; 2418472404; 83,50; 274 ; - ; - ; - /IRIS DE MEL TRINDADE DIAS; 2408027769; 86,00; 125 ; 3 ; - ; - /ITAMAR HENRIQUES DE CARVALHO VERAS DA; 2402766080; 87,50; 58 ; - ; - ; - /IVANA MEDEIROS PACHECO CAVALCANTE; 2420410984; 85,50; 155 ; - ; - ; - /IZABEL MACHADO DA COSTA; 2411584665; 84,50; 191 ; - ; - ; - /JANE BEATRIZ KRAUSE; 2420397864; 83,50; 287 ; - ; - ; - /JANETE ELOI GUIMARAES; 2400378724; 85,50; 154 ; - ; - ; - /JESSICA AUGUSTO DOS SANTOS; 2411235342; 85,50; 134 ; - ; - ; - /JOAO MILTON WALTER TAVARES; 2406141556; 87,00; 64 ; - ; - ; - /JOAO VICENTE MARQUES LAGUENS; 2409571497; 84,00; 223 ; - ; - ; - /JOAO VITOR SILVA MIRANDA; 2413035553; 87,50; 51 ; - ; - ; - /JORDANIA MARIA DE RIBAMAR SILVA FROES; 2400067664; 85,00; 177 ; - ; - ; - /JOSE OCTAVIO BEUTEL; 2416049733; 86,00; 104 ; - ; - ; - /JOSEANE DE QUEIROZ VIEIRA; 2403447123; 85,50; 132 ; - ; - ; - /JOYCE FATTORI; 2415631986; 84,50; 192 ; - ; - ; - /JULIA FURIA COSTA OLIVEIRA; 2415807847; 84,50; 195 ; - ; - ; - /JULIA REGINA BRAGA PEREIRA LUNA; 2400096770; 84,50; 188 ; - ; - ; - /JULIANA DA CONCEICAO BORGES; 2415344430; 92,00; 2 ; - ; 1 ; - /JULIANA FERREIRA DA SILVA; 2409018712; 87,00; 72 ; - ; - ; - /JULIANA SANO DE ALMEIDA LARA; 2415678036; 86,00; 126 ; - ; - ; - /JULIANA VILAR RAMALHO RAMOS; 2417305440; 87,00; 61 ; - ; - ; - /JULIANE SOARES DA SILVA; 2400923854; 84,00; 221 ; - ; - ; - /KARINA BEZERRA PINHEIRO; 2406539479; 83,50; 261 ; - ; - ; - /KARINA MIDORI ONO; 2415788613; 85,00; 169 ; - ; - ; - /KAROLYNE DUARTE DA SILVA; 2407835918; 84,00; 230 ; - ; 21 ; - /KELI RODRIGUES DE ANDRADE; 2405469000; 91,50; 4 ; - ; - ; - /KELLY KOTLINSKI VERDADE; 2410063815; 83,50; 270 ; - ; - ; - /KLEYLAND MACHADO SIQUEIRA; 2419020736; 84,00; 232 ; - ; - ; - /KRISLANE DE ANDRADE MATIAS; 2403090640; 84,00; 231 ; - ; - ; - /LAERTE COSTA SILVA; 2412728075; 83,50; 266 ; - ; - ; - /LAIS HABIB VIEIRA MENDES; 2404432014; 90,50; 6 ; - ; - ; - /LARISSA CAROLINE DOS SANTOS FALCAO; 2410555777; 82,50; 346 ; - ; - ; - /LAUREN CAVALHEIRO DA COSTA; 2421432434; 86,00; 118 ; - ; - ; - /LEANDRO AUGUSTO REZENDE PEIXOTO; 2400544497; 83,50; 264 ; - ; - ; - /LEANDRO BARBOSA ROLIM; 2401953501; 84,50; 197 ; - ; - ; - /LEANDRO BONECINI DE ALMEIDA; 2411733105; 83,00; 331 ; - ; - ; - /LEANDRO IGOR VIEIRA FERREIRA; 2407325529; 86,00; 107 ; - ; - ; - /LEANDRO MENDANHA E SILVA; 2400736043; 84,50; 212 ; - ; - ; - /LEANE FARIA CARVALHO; 2417780415; 85,50; 160 ; - ; - ; - /LEONARDO DA SILVA SANTANA; 2403964772; 86,00; 113 ; - ; 10 ; - /LEONARDO LINO DE SOUZA; 2415569288; 84,00; 245 ; - ; - ; - /LETICIA RODRIGUES DE AZEVEDO; 2400790889; 83,00; 334 ; - ; - ; - /LETICIA SANTOS; 2401373505; 83,00; 322 ; - ; - ; - /LIDIANNE SALVATIERRA PAZ TRIGUEIRO; 2417409440; 85,50; 137 ; - ; - ; - /LIZANDRA DIAS MAGNO; 2400747070; 84,50; 189 ; - ; - ; - /LORENA DE MORAES NASCIMENTO LEITE; 2401733889; 85,50; 150 ; - ; - ; - /LORENA RODRIGUES SOARES; 2417402437; 83,50; 275 ; - ; - ; - /LORENA VILARINS DOS SANTOS; 2419687358; 85,50; 147 ; - ; - ; - /LUCAS DE MATTOS MOURA FERNANDES; 2413470420; 84,50; 196 ; - ; - ; - /LUCAS PICCOLO CINQUINI; 2405802907; 84,00; 220 ; - ; - ; - /LUCAS YASUYUKI KOROKU; 2411585211; 85,50; 158 ; - ; - ; - /LUCIANA ABREU DA SILVA; 2404445396; 85,50; 149 ; - ; - ; - /LUCIANA COELHO BARBOSA; 2400421263; 85,00; 170 ; - ; - ; - /LUCIANA KAUARA TOMAS SILVA; 2401714400; 86,50; 86 ; - ; - ; - /LUCIANA NOGUEIRA NOBREGA; 2401160919; 88,50; 34 ; - ; - ; - /LUCIMEIRE FERREIRA MACHADO; 2419974098; 85,50; 164 ; - ; - ; - /LUIS HENRIQUE VIEIRA; 2413628074; 83,00; 302 ; - ; - ; - /LUISA COIMBRA MORETTI; 2406733054; 86,00; 102 ; - ; - ; - /LUISA HERACLIO PANICO; 2416003628; 86,00; 119 ; - ; - ; - /LUISA MARANHAO DE ARAUJO; 2418504837; 82,50; 347 ; - ; - ; - /LUIZ FABRICIO SANTOS DE OLIVEIRA; 2410248092; 87,00; 80 ; - ; - ; - /LUIZ HENRIQUE GAMBOA MARQUES; 2409775823; 83,50; 258 ; - ; 27 ; - /LUIZ SALGADO NETO; 2408923748; 87,00; 71 ; - ; - ; - /LUIZA BEZERRA RIBEIRO; 2407627029; 83,50; 255 ; - ; - ; - /LUIZA SASSI AFFONSO FERREIRA; 2415961625; 83,00; 312 ; - ; - ; - /LUIZA TORNELLI AGUIAR; 2410867396; 83,00; 301 ; - ; - ; - /LUIZA VASCONCELOS BASILE; 2419063842; 84,50; 186 ; - ; - ; - /LUIZA WEHBE SABINO; 2412159976; 88,00; 39 ; - ; - ; - /LYGIA MARIA BITENCOURT MOURA OLIVEIRA; 2400033751; 83,50; 283 ; - ; - ; - /MAGDA CARLA DE OLIVEIRA SOUZA E SILVA; 2408682104; 85,50; 157 ; - ; 14 ; - /MAIRA DE OLIVEIRA RIBEIRO; 2412824520; 83,50; 282 ; - ; - ; - /MAIRA SERTA MANSUR; 2411284645; 85,00; 180 ; - ; - ; - /MAIRA TORRES CORREA; 2419081930; 83,00; 323 ; - ; 31 ; - /MAISA BEZERRA PINHEIRO; 2405671632; 84,50; 187 ; - ; - ; - /MANOEL BATISTA DO PRADO JUNIOR; 2412454943; 84,00; 217 ; - ; - ; - /MANOEL DO BOMFIM BORGES TEIXEIRA DE MA; 2402411931; 88,00; 44 ; - ; 5 ; - /MANOEL JUNIOR FERREIRA VELOSO; 2404076757; 83,50; 272 ; - ; - ; - /MARCELA LOPEZ MEDEIROS MACHADO; 2412773038; 85,00; 183 ; - ; - ; - /MARCELA MUNCH DE OLIVEIRA E SILVA; 2412647733; 91,50; 5 ; - ; - ; - /MARCELLO GIOVANNI POCAI STELLA; 2416351812; 83,50; 279 ; - ; - ; - /MARCELO CAETANO DA COSTA ZOBY; 2409292644; 85,00; 171 ; - ; 16 ; - /MARCELO MUSSI; 2413759055; 83,00; 332 ; - ; - ; - /MARCELO VEIGA; 2412368826; 85,50; 144 ; - ; - ; - /MARCELO ZEIDAN KHALIL; 2401497824; 83,50; 281 ; - ; - ; - /MARCIA PIRES CAMPOS; 2418368984; 83,50; 292 ; - ; - ; - /MARCUS VINICIUS CARVALHO GARCIA; 2418305575; 84,50; 204 ; - ; - ; - /MARCUS VINICIUS RODRIGUES FERREIRA; 2406507810; 84,50; 199 ; - ; - ; - /MARIA CAROLINA DYSMAN; 2412379119; 85,00; 165 ; - ; - ; - /MARIA CECILIA MANZOLI TURATTI; 2400347357; 84,50; 210 ; - ; - ; - /MARIA ERICA RIBEIRO PEREIRA; 2404480868; 83,00; 318 ; - ; - ; - /MARIA ISABEL MEUNIER FERRAZ; 2407923426; 90,00; 10 ; - ; - ; - /MARIA PAULA FERNANDES ADINOLFI; 2413702002; 93,00; 1 ; - ; - ; - /MARIA PAZ JOSETTI FUENZALIDA; 2400611690; 86,00; 122 ; - ; - ; - /MARIA SUELY FELIPPE BARROZO LOPES; 2418351607; 82,50; 345 ; - ; - ; - /MARIANA ABREU ALMEIDA MENDES; 2400506382; 87,50; 59 ; - ; 6 ; - /MARIANA CAVICHIOLI GOMES ALMEIDA; 2415823087; 86,50; 89 ; - ; - ; - /MARIANA DO NASCIMENTO RAMOS; 2410315644; 85,00; 172 ; - ; - ; - /MARIANA GALLEGO BESSA; 2402243761; 83,50; 254 ; - ; - ; - /MARIANA REIS DE SOUZA LIMA; 2403697901; 85,00; 166 ; - ; - ; - /MARIANA VAZ LANDIM; 2411054348; 83,50; 285 ; - ; - ; - /MARILIA ALMEIDA SOARES; 2405267173; 89,00; 21 ; - ; - ; - /MARILIA MOREIRA RAVANELLO; 2401345773; 89,00; 19 ; - ; - ; - /MARILZA NAYARA SOARES NOBRE; 2403174143; 83,00; 308 ; - ; - ; - /MARINA BRITO PINHEIRO; 2407104620; 88,50; 36 ; - ; - ; - /MARINA DE ALMEIDA ROSA; 2404318530; 83,50; 268 ; - ; - ; - /MARINA MONTEIRO LUNA; 2415960742; 87,00; 75 ; - ; - ; - /MARTA LITWINCZIK; 2417507239; 83,00; 307 ; - ; - ; - /MARTHA ELIZABETH BRASIL DA NOBREGA; 2417589600; 83,00; 321 ; - ; - ; - /MAYRA SA RORIZ RIVERA MAGALHAES; 2404340560; 84,50; 198 ; - ; - ; - /MELANIE GRUN; 2415614232; 88,50; 32 ; - ; - ; - /MELISSA FERNANDA RIBEIRO VALE; 2402564487; 83,00; 299 ; - ; - ; - /MERCIA CRISTINA DA SILVA ASSIS; 2410994460; 84,00; 237 ; - ; 22 ; - /MOISES CRUZ SOUZA; 2408786317; 83,00; 298 ; - ; - ; - /MONICA BARRETO NOBREGA DE LUCENA; 2407656487; 85,50; 151 ; - ; - ; - /MOYSES MARTINS TOSTA STORTI; 2402820890; 84,00; 225 ; - ; - ; - /MOZART AUGUSTO MARIANO MACHADO; 2400581821; 84,00; 247 ; - ; - ; - /NAETE BARBOSA LIMA REIS; 2412112635; 83,50; 288 ; - ; - ; - /NARA GUIMARAES AZEVEDO; 2406911246; 87,00; 74 ; - ; - ; - /NARA SARMANHO CUNHA; 2420424845; 86,50; 81 ; - ; - ; - /NATALIA CABRAL DO REGO BARROS; 2402855341; 89,00; 24 ; - ; - ; - /NATALIA VELOSO HOLANDA; 2405362877; 86,00; 103 ; - ; - ; - /NATHALIA TANURE ROQUETTE ANDRADE; 2408813306; 86,00; 111 ; - ; - ; - /NICKOLE SANCHEZ FRIZZARIM; 2415774388; 85,50; 162 ; - ; - ; - /NILZA AZEVEDO SOUZA; 2403986679; 86,00; 110 ; - ; - ; - /ODETTE TEREZINHA DALTROZO; 2415617827; 84,00; 214 ; - ; - ; - /ODIRLEI CONRADO DE SOUSA; 2415339274; 88,00; 43 ; - ; 4 ; - /PABLO SANTOS RIBEIRO HERNANDEZ; 2412150510; 88,50; 35 ; - ; - ; - /PATRICIA DOS SANTOS MESQUITA; 2400904710; 85,00; 176 ; - ; - ; - /PATRICIA OLIVEIRA GOMES; 2401750384; 90,00; 12 ; - ; - ; - /PAULO JOSE WHITAKER WOLF; 2416125979; 86,50; 95 ; - ; - ; - /PEDRO DE CASTRO AMARAL VIEIRA; 2408630716; 86,50; 99 ; 2 ; - ; - /PEDRO VITAL EUGENIO MELO; 2406842910; 85,50; 140 ; - ; - ; - /PRISCILA FRONZA WALKER; 2402761193; 83,50; 290 ; - ; - ; - /PRISCILA RAMOS CABRAL; 2413385910; 85,50; 138 ; - ; 13 ; - /PRISCILLA RALILE BARRETO; 2411648698; 85,50; 163 ; - ; - ; - /RAFAEL DE CASTRO PEREIRA; 2401419505; 87,00; 79 ; - ; - ; - /RAFAEL DE LIMA OLIVEIRA; 2415917340; 84,50; 200 ; - ; - ; - /RAFAEL DE MENDONCA DINIZ; 2405680437; 83,00; 344 ; - ; - ; - /RAFAEL LOPES SENA; 2410091150; 86,50; 100 ; - ; - ; - /RAFAEL NUCCI LEITE; 2415261607; 83,00; 309 ; - ; - ; - /RAFAEL SANTANA GONCALVES DE ANDRADE; 2403039009; 84,00; 219 ; - ; - ; - /RAFAELLA SILVA DE CARVALHO; 2419137960; 84,00; 244 ; - ; 25 ; - /RAISSA NATALIA PEREIRA RAIMUNDO; 2408713972; 85,50; 133 ; - ; - ; - /RAMAO CORREA; 2401086140; 83,00; 341 ; - ; - ; - /RAMON JOSE GUSSO; 2400637061; 83,00; 324 ; - ; - ; - /RAPHAEL SEBBA DAHER FLEURY CURADO; 2401291754; 86,00; 106 ; - ; - ; - /RAQUEL LUCIA DE OLIVEIRA; 2402773159; 84,00; 227 ; - ; 19 ; - /RAQUEL SIMAO ALMEIDA; 2402906639; 84,50; 209 ; - ; - ; - /RENATA BEZERRA DE FREITAS BARBOSA; 2400902679; 83,00; 300 ; - ; - ; - /RENATA FLORENTINO DE FARIA SANTOS; 2400498347; 84,50; 201 ; - ; - ; - /RENATA PENALVA VIEIRA DA SILVA; 2416255325; 87,00; 70 ; - ; - ; - /RICARDO NORONHA TRISTAO; 2418395531; 86,00; 109 ; - ; - ; - /RICARDO RILTON NOGUEIRA ALVES; 2420042667; 87,50; 56 ; - ; - ; - /RIVIA RYKER BANDEIRA DE ALENCAR; 2418506872; 85,00; 184 ; - ; - ; - /ROBERTA COSTA RANGEL; 2421355316; 85,00; 182 ; - ; - ; - /ROBERTA RODRIGUES PADULA; 2411200956; 88,50; 31 ; - ; - ; - /RODRIGO FERNANDES MORAES DIAS; 2405614949; 88,50; 30 ; - ; - ; - /RODRIGO FERREIRA BARROS; 2409714840; 83,00; 328 ; - ; 32 ; - /RODRIGO MERCANTE; 2415508556; 86,00; 124 ; - ; - ; - /RODRIGO VASCONCELLOS CRISSAFF; 2411952095; 86,00; 117 ; - ; - ; - /RONALDO FERREIRA REZENDE; 2406389787; 89,50; 18 ; - ; - ; - /ROSANA ARAUJO TOLEDO; 2419604312; 83,00; 339 ; - ; - ; - /SANDRO HENRIQUE CALHEIROS LOBO; 2418576340; 84,00; 250 ; - ; - ; - /SANDRO NERY SIMOES; 2410192453; 84,00; 224 ; - ; - ; - /SERGIO APARECIDO GANDRA; 2409688041; 84,50; 207 ; - ; - ; - /SERGIO AUGUSTO JABALI BARRETTO; 2412719068; 85,50; 129 ; - ; - ; - /SERGIO JOSE BARBOSA JUNIOR; 2410287977; 89,00; 27 ; - ; - ; - /SIMONE DE BARROS FERNANDES DO VALE; 2404254833; 90,00; 11 ; - ; - ; - /SOFIA LEONOR VON METTENHEIM; 2416586305; 88,00; 42 ; - ; - ; - /STEPHANY DAYANA PEREIRA MENCATO; 2407720908; 83,50; 267 ; - ; - ; - /SUZANA OLIVEIRA COUTO; 2402795195; 89,00; 20 ; - ; - ; - /SUZANNE MARCELLE MARTINS SOARES; 2402152499; 84,50; 194 ; 5 ; 18 ; - /TAHIRA ENDO GONZAGA; 2412203894; 83,00; 316 ; - ; 30 ; - /TALITA RIBEIRO CUNHA; 2400593625; 83,50; 265 ; - ; - ; - /TAMARA BEATRIZ BARBOSA BRASIL; 2421188622; 83,00; 337 ; - ; - ; - /TAMARO CHAGAS MENDES; 2410173033; 83,00; 306 ; - ; - ; - /TARCISIO DE OLIVEIRA ROZENDO; 2401226286; 84,50; 206 ; - ; - ; - /TATIANA GUIMARAES STOCKLER DE MELLO; 2410420472; 86,00; 114 ; - ; - ; - /THAIS ASSUNCAO SANTOS; 2415577353; 83,00; 325 ; - ; - ; - /THAIS BORGES DA SILVA PINHO WERNECK; 2419134715; 84,00; 235 ; - ; - ; - /THAIS DUARTE DE OLIVEIRA; 2406972571; 84,50; 193 ; - ; - ; - /THALES SOUSA DE AZEVEDO; 2401135299; 89,50; 17 ; - ; - ; - /THAYNA MARIA HOLANDA DE SOUZA; 2415623860; 83,50; 263 ; - ; - ; - /THIAGO ALVES DA SILVA COSTA; 2408468684; 83,00; 313 ; - ; - ; - /TIAGO DE OLIVEIRA FRAGOSO; 2400269356; 86,50; 98 ; - ; - ; - /TIAGO VILAS BOAS BARROS; 2415448243; 83,00; 294 ; - ; - ; - /UBIRATAN MENEZES DA SILVEIRA; 2401550547; 83,50; 284 ; - ; 29 ; - /VALERIA TORRES AMARAL BURITY; 2418469772; 87,00; 69 ; - ; - ; - /VANDIMAR MARQUES DAMAS; 2420840199; 85,00; 178 ; - ; - ; - /VICTOR JOSE DE OLIVEIRA FERNANDES BORI; 2415753534; 82,50; 348 ; - ; - ; - /VINICIUS DE LARA RIBAS; 2404428947; 84,00; 222 ; - ; - ; - /VINICIUS PRADO JANUZZI; 2416128293; 84,00; 246 ; - ; - ; - /VIRGINIA OLIVEIRA DA SILVA; 2412504550; 85,50; 146 ; - ; - ; - /VITOR ROGERIO OLIVEIRA ROCHA; 2421214020; 88,50; 33 ; - ; 3 ; - /WANDER LUCIO MOURAO JUNIOR; 2407663831; 87,00; 77 ; - ; - ; - /WENDELL RODRIGUES OLIVEIRA DA SILVA; 2419000000; 86,00; 128 ; - ; - ; - /WESLEY LOPES KUHN; 2401290723; 88,00; 45 ; - ; - ; - /YANE MARCELLE PEREIRA SILVA; 2419889120; 83,50; 252 ; - ; 26 ; - /YSDAY CUSTODIO DE SOUZA; 2404970482; 89,00; 26 ; - ; 2 ; - /ZILDA MANUELA ONOFRI PATENTE; 2405031609; 83,00; 311 ; - ; - ; -.
"""

data_2 = """
ALVARO DE AZEVEDO ALVES BRITO; 2419715220; 76,50; 1446 ; 27 ; - ; - /ANA GABRIELA DUARTE MAUCH; 2406860412; 80,00; 675 ; 11 ; - ; - /ANA JESSICA DE LIMA CAVALCANTE; 2402188582; 78,50; 1006 ; 16 ; - ; - /ANDRE LUIZ PEREIRA DE BRITO; 2419487111; 76,50; 1454 ; 28 ; 234 ; - /BEATRIZ SOUZA VILELA; 2410170778; 77,00; 1386 ; 25 ; - ; - /BENJAMIN RUBIO SENES; 2411243914; 79,00; 870 ; 14 ; - ; - /CLEYTON FEITOSA PEREIRA; 2408610294; 81,50; 482 ; 9 ; - ; - /DAIANE MOTA LINS; 2403362888; 80,00; 708 ; 12 ; - ; - /DIEGO QUINTAO RIBEIRO; 2408699082; 77,00; 1342 ; 24 ; - ; - /GIOVANNA MARIA LIMEIRA RODRIGUES ORTIZ; 2416136130; 76,00; 1468 ; 29 ; - ; - /GUILHERME MAXIMO XAVIER; 2409914335; 81,50; 476 ; 7 ; - ; - /HERON CRISTIANO MAIRINK VOLPI; 2401432765; 77,00; 1411 ; 26 ; - ; - /JAQUELINE SIQUEIRA DO SACRAMENTO; 2400255878; 78,00; 1062 ; 17 ; - ; - /JOELMIR MOTA DA SILVA; 2420769630; 79,00; 898 ; 15 ; - ; - /JULIA CARVALHO OLIVEIRA; 2406727194; 77,50; 1156 ; 20 ; - ; - /JULIANNA SAMPAIO DE ARAUJO; 2402511189; 78,00; 1075 ; 18 ; - ; - /JULIANNE MELO DOS SANTOS; 2405401279; 77,00; 1333 ; 23 ; - ; - /JURY ANTONIO DALL AGNOL; 2400590790; 78,00; 1138 ; 19 ; - ; - /MARIANNA QUEIROZ BATISTA; 2421428364; 81,50; 478 ; 8 ; - ; - /MARLEIDE FERREIRA ROCHA; 2406427700; 80,50; 590 ; 10 ; - ; - /PEDRO HENRIQUE RODRIGUES DE MELO DA CU; 2401529084; 77,50; 1232 ; 21 ; - ; - /RENATA ARCELINA DE FREITAS VERAS CACIQ; 2405453155; 77,00; 1332 ; 22 ; - ; - /TAMYRIS MADEIRA DE BRITO; 2402623629; 79,50; 803 ; 13 ; 87 ; -.
"""

data_3 = """
ADRIANO RODRIGUES DOS SANTOS; 2415675835; 79,50; 791 ; - ; 85 ; - /ALDA LUCIA MONTEIRO DE SOUZA; 2400249851; 79,00; 873 ; - ; 110 ; - /ALEX GONCALVES ALMENDRA; 2403140249; 82,50; 404 ; - ; 43 ; - /ALEXANDRE SANTOS DA SILVEIRA; 2410850132; 80,50; 627 ; - ; 67 ; - /ALINNE MONTEIRO DA CRUZ ATANASIO; 2401447550; 79,00; 884 ; - ; 114 ; - /AMANDA FRAZAO DA SILVA; 2411298140; 82,00; 422 ; - ; 46 ; - /ANA PAULA BARBOSA DOS SANTOS; 2408486607; 79,00; 883 ; - ; 113 ; - /ANA TAISA DA SILVA FALCAO; 2412088971; 82,50; 379 ; - ; 38 ; - /ANANSA SANTOS SEVERINO DE ALCANTARA; 2400968157; 80,00; 767 ; - ; 83 ; - /ANDRE LUIS DE SANTANA OLIVEIRA; 2403248015; 79,00; 886 ; - ; 116 ; - /ANGELICA PEREIRA DOS SANTOS; 2401736900; 80,00; 733 ; - ; 79 ; - /ANTONIO ANDERSON DE SOUSA FERREIRA; 2407775982; 79,00; 866 ; - ; 108 ; - /ANTONIO DOS SANTOS OLIVEIRA; 2401141531; 81,00; 539 ; - ; 55 ; - /APOENA LIMA DE ALMEIDA; 2418131488; 81,50; 509 ; - ; 49 ; - /ARYADNE CASTELO BRANCO CORREIA LINS; 2411478997; 79,50; 831 ; - ; 93 ; - /AUREA SANTOS FARIAS; 2411569950; 79,50; 834 ; - ; 94 ; - /BARBARA LUISA PEREIRA DA SILVA GIL; 2413800063; 81,00; 532 ; - ; 53 ; - /BARBARA OLIVEIRA SOUZA; 2419216460; 79,00; 913 ; - ; 118 ; - /BRAULYO ANTONIO SILVA DE OLIVEIRA; 2411470813; 78,50; 993 ; - ; 126 ; - /CARLOS FREDERICO DE OLIVEIRA; 2419190739; 79,50; 853 ; - ; 103 ; - /CAROLINE RODRIGUES MENEZES; 2416476801; 81,50; 468 ; - ; 48 ; - /CAROLINI MACHADO BANDEIRA; 2411689033; 80,50; 596 ; - ; 63 ; - /CAUE MATOS DO NASCIMENTO ALVES; 2406404808; 78,50; 1003 ; - ; 129 ; - /CLAUDIO ALESSANDRO DINIZ DE SA; 2415307720; 80,00; 711 ; - ; 75 ; - /DANIEL DE OLIVEIRA BALTAR; 2412319264; 80,50; 599 ; - ; 65 ; - /DANIELA MARQUES DAS MERCES SILVA; 2420057060; 80,50; 624 ; - ; 66 ; - /DANNYTHA RAYRES LOPES CAMARA; 2404958954; 79,50; 826 ; - ; 91 ; - /EDVANIO CAMPOS MACEDO; 2408696334; 80,50; 658 ; - ; 69 ; - /ERICA CARDOSO FERREIRA; 2412264028; 79,50; 842 ; - ; 98 ; - /ERICA MELONIO DA COSTA LOBO; 2417357385; 79,50; 822 ; - ; 88 ; - /EVERTHON AFFONSO DE FREITAS MOURA; 2414310370; 78,50; 1000 ; - ; 128 ; - /FABIANA OLIVEIRA MACHADO; 2400395181; 81,00; 582 ; - ; 62 ; - /FERNANDA SILVEIRA ANJOS; 2402675610; 82,50; 367 ; - ; 36 ; - /FLAVIA EVANGELISTA DE SOUZA SOARES; 2420382816; 79,50; 852 ; - ; 102 ; - /FRANCISCO ALEX DE SOUZA SALES; 2402489256; 82,50; 395 ; - ; 41 ; - /FRANCISCO ANDERSON CARVALHO DE LIMA; 2418071752; 79,00; 863 ; - ; 107 ; - /GABRIELA DIAS MARTINS; 2402778479; 79,00; 882 ; - ; 112 ; - /GABRIELLA DA SILVA CRUZ; 2408931961; 80,50; 660 ; - ; 70 ; - /GEOMARA PEREIRA MORENO NASCIMENTO; 2409686820; 79,50; 839 ; - ; 96 ; - /GISLAINE MAIA NUNES; 2419189056; 82,50; 369 ; - ; 37 ; - /GLEICE KELLY CAMARA FERREIRA; 2421305734; 79,50; 859 ; - ; 105 ; - /HELLEN DAYANE CARDOSO SOARES; 2401680246; 80,00; 710 ; - ; 74 ; - /HELOISA COUTO DE ANDRADE; 2408446940; 80,50; 598 ; - ; 64 ; - /HELOISA HELENA FONSECA DO NASCIMENTO; 2407516405; 79,50; 856 ; - ; 104 ; - /HILBERT MELO SOARES PINTO; 2407831610; 79,50; 835 ; - ; 95 ; - /IRAILTON BRABO RODRIGUES; 2417652565; 79,50; 825 ; - ; 90 ; - /ISABELA RODRIGUES ARAUJO; 2408659170; 81,00; 524 ; - ; 52 ; - /ISADORA DE OLIVEIRA SILVA; 2413980746; 82,50; 362 ; - ; 34 ; - /JAQUELINE DOS SANTOS MELO; 2402051170; 80,50; 640 ; - ; 68 ; - /JOANA SANTOS ROCHA; 2409018720; 78,50; 984 ; - ; 124 ; - /JOAO FILIPE DE SOUZA MARTINS; 2411955353; 80,00; 729 ; - ; 77 ; - /JULIANA SOUZA DOS SANTOS; 2407138915; 79,00; 915 ; - ; 120 ; - /JULIETH AMANCIO DA SILVA; 2412961586; 79,00; 869 ; - ; 109 ; - /JULIO CESAR BERTOSO DE LIMA; 2401447851; 78,50; 992 ; - ; 125 ; - /KATRYNE HOLANDA SILVA; 2404771536; 80,00; 731 ; - ; 78 ; - /KEITY VERONICA PEREIRA DA CRUZ; 2401307146; 82,50; 363 ; - ; 35 ; - /LARISSA FERNANDA PEIXOTO DOS SANTOS SI; 2401041642; 80,00; 726 ; - ; 76 ; - /LEANDRO DE CARVALHO NASCIMENTO; 2401535114; 82,50; 398 ; - ; 42 ; - /LORENNA COSTA PEREIRA; 2417805248; 79,50; 829 ; - ; 92 ; - /LUA LESSA SOUZA; 2403069145; 82,00; 416 ; - ; 44 ; - /LUANA PASSOS DE SOUZA; 2405043801; 81,00; 546 ; - ; 56 ; - /LUANDA TAVEIRA FERNANDES; 2421108165; 80,00; 687 ; - ; 71 ; - /LUCAS MAGNO DE OLIVEIRA PORTO; 2401721805; 79,50; 841 ; - ; 97 ; - /LUCILENE APARECIDA SOARES; 2400416006; 79,00; 930 ; - ; 123 ; - /LUIZ FELIPE LOMANTO SANTA CRUZ; 2411180068; 79,50; 843 ; - ; 99 ; - /MAISA GOMES DA SILVA PARDO; 2415475658; 81,00; 551 ; - ; 58 ; - /MARIA CECILIA SOUZA ALMEIDA; 2411944173; 80,00; 750 ; - ; 82 ; - /MARIA JOSE SANTOS OLIVEIRA; 2404331587; 79,50; 774 ; - ; 84 ; - /MARNE THEREZA DE LISIEUX SILVA E LIMA; 2400716778; 82,50; 387 ; - ; 39 ; - /MATHEUS FERNANDES ROCHA; 2409553758; 80,00; 688 ; - ; 72 ; - /MAYARA RODRIGUES DO AMARAL MANOEL; 2401471140; 78,50; 994 ; - ; 127 ; - /MICHELY APARECIDA DE SOUZA; 2408417354; 78,50; 1012 ; - ; 130 ; - /PABLO RICARDO DO NASCIMENTO VELOSO; 2411034983; 81,00; 547 ; - ; 57 ; - /PAULA CORREIA DE BRITO; 2402293386; 79,00; 885 ; - ; 115 ; - /PAULO VINICIUS SILVA DE SANTANA; 2408790560; 79,50; 860 ; - ; 106 ; - /PEDRO MARCANTE ARRUDA DOS SANTOS; 2402617025; 79,00; 877 ; - ; 111 ; - /PILAR CLER; 2411650420; 81,00; 559 ; - ; 60 ; - /PRISCILA TAMAR ALVES NOGUEIRA; 2408941169; 79,00; 926 ; - ; 122 ; - /RAFAEL DE JESUS SOUZA; 2403439929; 79,00; 914 ; - ; 119 ; - /RAISSA GOMES MARIANO MUNIZ; 2419296219; 80,00; 694 ; - ; 73 ; - /RITA ADRIANA SOUZA DA SILVA DE ASSIS; 2415386540; 80,00; 743 ; - ; 81 ; - /RUTH DA CONCEICAO COSTA E SILVA SACCO; 2402345017; 82,00; 437 ; - ; 47 ; - /SARAH CRISPIM CALIXTO; 2401992639; 79,50; 800 ; - ; 86 ; - /SILENE AMORIM MONTEIRO; 2412346962; 79,00; 917 ; - ; 121 ; - /TAIS DA CUNHA FERREIRA TUPINAMBA; 2421257446; 79,50; 823 ; - ; 89 ; - /TAIS VALENTE DOS SANTOS; 2401437856; 80,00; 742 ; - ; 80 ; - /TAISA RODRIGUES DANTAS; 2407124710; 79,50; 851 ; - ; 101 ; - /THAINA SALES DA SILVA; 2408442391; 82,00; 417 ; - ; 45 ; - /THAIS GOMES CARDOSO; 2403528220; 82,50; 391 ; - ; 40 ; - /THAMIRES DA SILVA RIBEIRO; 2407382662; 79,00; 899 ; - ; 117 ; - /VALERIA APARECIDA DA COSTA; 2413906449; 81,00; 568 ; - ; 61 ; - /VINICIUS COSTA ALMEIDA CHAVES; 2403890485; 79,50; 848 ; - ; 100 ; -.
"""

####

In [ ]:
# Lista contendo as variáveis de dados
data_list = [data_1, data_2, data_3]

# Criar um DataFrame vazio para concatenar os resultados
final_df = pd.DataFrame()

# Iterar sobre cada conjunto de dados
for data in data_list:
    # Transformando os dados em uma lista de linhas, separando por ' / ' (em algumas linhas os dados são separados por espaço)
    lines = data.strip().split('/')

    # Separando os campos de cada linha, utilizando ';' como delimitador
    records = [line.split(';') for line in lines]

    # Ajustar a quantidade de colunas conforme a estrutura dos dados
    columns = ["Nome", "CPF", "Nota", "Código", "Campo5", "Campo6", "Campo7"]

    # Criar o DataFrame temporário para cada conjunto de dados
    temp_df = pd.DataFrame(records, columns=columns)

    # Concatenar os DataFrames
    final_df = pd.concat([final_df, temp_df], ignore_index=True)

# Exibir o DataFrame final
print(final_df.head())

# Salvar o DataFrame final em CSV
csv_path = "/content/nomes_codigos.csv"
final_df.to_csv(csv_path, index=False)

                                     Nome          CPF    Nota Código Campo5  \
0             ABELARDO PEREIRA PALMA NETO   2420168954   83,00   330      -
1        ABRAHAO ALEXANDRE BARROS DE LIMA   2407932018   86,00   116      -
2                ADDA LUISA DE MELO SOUSA   2409386908   83,00   296      -
3  ADRIANA RAQUEL FERREIRA COSTA OLIVEIRA   2417034349   84,00   243      -
4       ADRIANA SOUZA DE OLIVEIRA BARRETO   2409122978   83,00   333      -

  Campo6 Campo7
0     -      -
1     -      -
2     -      -
3    24      -
4     -      -

In [ ]:
final_df

,Nome,CPF,Nota,Código,Campo5,Campo6,Campo7
0,ABELARDO PEREIRA PALMA NETO,2420168954,"83,00",330,-,-,-
1,ABRAHAO ALEXANDRE BARROS DE LIMA,2407932018,"86,00",116,-,-,-
2,ADDA LUISA DE MELO SOUSA,2409386908,"83,00",296,-,-,-
3,ADRIANA RAQUEL FERREIRA COSTA OLIVEIRA,2417034349,"84,00",243,-,24,-
4,ADRIANA SOUZA DE OLIVEIRA BARRETO,2409122978,"83,00",333,-,-,-
...,...,...,...,...,...,...,...
455,THAINA SALES DA SILVA,2408442391,"82,00",417,-,45,-
456,THAIS GOMES CARDOSO,2403528220,"82,50",391,-,40,-
457,THAMIRES DA SILVA RIBEIRO,2407382662,"79,00",899,-,117,-
458,VALERIA APARECIDA DA COSTA,2413906449,"81,00",568,-,61,-
459,VINICIUS COSTA ALMEIDA CHAVES,2403890485,"79,50",848,-,100,-.